@model ClothingBoutique.Models.ItemModel

<div class="form-group">
    @Html.LabelFor(i => i.itemName)
    @Html.TextBoxFor(i => i.itemName, new{@class = "form-control"})
</div>
<div class="form-group">
    @Html.LabelFor(i => i.price)
    @Html.TextBoxFor(i => i.price, new{@class = "form-control"})
    @Html.ValidationMessageFor(i => i.price)
</div>
<div class="form-group">
    @Html.LabelFor(i => i.itemCategory)
    @Html.TextBoxFor(i => i.itemCategory, new{@class = "form-control"})
</div>
<div class="form-check">
    @Html.CheckBoxFor(i => i.inStock, new{@class = "form-check-input"})
    @Html.LabelFor(i => i.inStock, new{@class = "form-check-label"})
</div>
<div class="form-check">
    @Html.CheckBoxFor(i => i.inStock, new{@class = "form-check-input"})
    @Html.LabelFor(i => i.featured, new{@class = "form-check-label"})
</div>